.w-filtertablestate-savebutton{
    background-position: -66px -146px;
    background-image: url("ui-icons_222222_256x240.png"); 
    margin-left: 5px;
    margin-top: 4px;
}
.w-filtertablestate-deletebutton{
    background-position: -179px -98px;
    background-image: url("ui-icons_222222_256x240.png"); 
    margin-left: 5px;
}

.w-filtertablestate-defaultprofilebutton{
    background-position: -195px -98px;
    background-image: url("ui-icons_222222_256x240.png"); 
}

.w-filtertablestate-defaultprofilebutton-open{
    background-position: -211px -98px;
    background-image: url("ui-icons_222222_256x240.png"); 
}

.w-filtertablestate-resetbutton{
    background-position: -67px -83px;
    background-image: url("ui-icons_222222_256x240.png"); 
    margin-left: 24px;
}
.w-filtertablestate-addbutton{
    background-position: -19px -131px;
    background-image: url("ui-icons_222222_256x240.png"); 
    margin-left: 5px;
}

.w-filtertablestate-button{
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: block;
    background-repeat: no-repeat;
    float: right;
    opacity: inherit;

    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

input.w-filtertablestate-textfield.v-textfield{
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px);
    background-image:none;
    height:13px;
}

.w-filtertablestate-layout{
    padding: 8px !important;
    min-width: 152px;
}

.w-filtertablestate-item{
    margin-left: 3px;
    cursor: pointer;
}
.w-filtertablestate-label{
    font-weight: bold;
}
