*.class

# Package Files #
*.jar
*.war
*.ear
/.project
nb-configuration.xml
nbactions.xml
target/
gwt-unitCache/
widgetsets/
/wcslib-vaadin-widget-filtertablestate-bundle/dependency-reduced-pom.xml
.idea